<header class="h-16">
    <nav>
        <ul class="flex justify-around items-center flex-wrap space-x-[50px]">
            <li><a href="/liste"><img src="/images/logo.png" alt="logo" class="h-[50px]"></a></li>
            <li><a href="/liste">liste des mangas</a> </li>
        </ul>
    </nav>
</header>